.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.doctors_list.col-lg-3.col-md-4.col-sm-6 {
  padding-bottom: 3% !important;
}
.carousel-indicators{
  display: none;
}

.MuiList-root.MuiList-padding{
  max-width: 100%;
  height: 100vh;
}
.MuiList-padding.MuiList-root.MuiMenu-list{
 height: 96px !important;
}

.MuiGrid-grid-xs-12{
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  height: auto;
  min-height: 7.9vh !important;
}
/* #menu-appbar {
  height: 128px !important;
} */

/* a.carousel-control-prev{
  display: none;

}

a.carousel-control-next{
  display: none;
  
} */
